@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.contain{
    width: 100%;
    height: 100%;
}

.page1{
    width: 100%;
    position: relative;
    padding: 0 5%;
}

.bg{
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    top:200px;
    left: 0;
    z-index: -1;
}

.bg2{
    width: 100%;
    position: absolute;
    top: 130vh;
    left: 0;
    z-index: -1;
}

.bg2_center{
    width: 100%;
    height:80vh;
    background-color: #FAEED1;
}

.top_bg,.bottom_bg{
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images//wave.svg);
}

.bottom_bg{
    /* background-image: url(./images/wave.svg); */
    transform: rotate(180deg);
}

nav{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;justify-content: space-between;
}

nav img{
    height: 40px;
}
nav h2{
    font-size: 25px;
    color: rgb(90, 2, 90);
}

nav h2 span{
    color: rgb(93, 210, 93);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.right_nav button{
    padding: 1vh 10vw 1vh 1vh;
    display: flex;
    gap: 7px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    text-transform: capitalize;
    box-shadow: .1px .1px 5px 0px rgb(163, 161, 161);
    color: rgb(81, 81, 81);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.right_nav p{
    display: flex;
    gap: 10%;
}

.right_nav p i{
    color: rgb(81, 81, 81);
}

.page1_content{
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}

.page1_content h1{
    font-size: 4vw;
    line-height: 4vw;
    font-weight: 400;
}

.page1_content h1 span{
    color: orange;
    font-weight: 600;
}

.page1_content p{
    font-size: 1.1vw;
    margin-top: 3vh;
    color: rgb(163, 161, 161);
    font-weight: 500;
    line-height: 1.6vw;
}

.page1_content button{
    padding: 1% 2%;
    border-radius: 20px;
    margin-top: 4vh;
    border: none;
    background-color: orangered;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.page1_imgs{
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    /* align-items: center; */
    justify-content: space-between;
    display: flex;
}

.img1,.img2,.img3,.img4{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}/* Ellipse 1 */
.img1{
    width: 16vw;
    height: 14vw;
    background-image: url(./images//IMG1.png);
    margin-top: 15vh;
    transform: rotate(-60deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1 img{
    transform: rotate(60deg);
    width: 6vw;
}
.img2{
    width: 20vw;
    height: 18vw;
    background-image: url(./images//IMG2.png);
    transform: rotate(60deg);
    margin-top: -3vh;
}

.img2 img{
    transform: rotate(-60deg);
    height: 30vh;
   margin-top: 4vh;
}

.img3{
    width: 20vw;
    height: 17vw;
    background-image: url(./images/IMG4.png);
    margin-top: 15vh;
}

.img3 img{
    width: 10vw;
}

.img4{
    width: 20vw;
    height: 20vw;
    background-image: url(./images/IMG3.png);
    margin-top: -5vh;
    transform: rotate(60deg);
}

.img4 img{
    transform: rotate(-60deg);
    width: 15vw;
    margin-top: 10vh;
}

.feature{
    font-size: 35px;
    margin-top: 5vh;
}

.features{
    width: 100%;
    height: 60vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 7vh;
}

.features::-webkit-scrollbar{
    height: 0;
}

.feat{
    width: 55vh;
    height: 100%;
    background-color: #FFFFFF;
    flex-shrink: 0;
    border-radius: 10px;
    text-align: start;
}

.images{
    width: 100%;
    height: 55%;
    /* background-color: red; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image1{
    background-image: url(https://images.unsplash.com/photo-1489367874814-f5d040621dd8?q=80&w=2046&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.image2{
    background-image: url(https://images.unsplash.com/photo-1599623560574-39d485900c95?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}